

body {
	background: url("images/ce-image1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #424242;
}

header {
	background-repeat: no-repeat;
	background-size: 2em;
	height: 5em;
	width: 5em;
	display: inline-block;
	text-align: left;
	float: left;
	padding-right: 2em;
	padding-left: 10em;
}
nav {
	display: block;
	background-color: #fff;
	padding: .25em;
	text-align: center;
	margin-bottom: 250px;
	float: center;
}
nav a {
	color: #424242; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	text-transform: uppercase; 
	font-size: 1em;
	display: inline-block;
}
h1 {
	color: #424242; 
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 3em;
}

h2 {
	text-transform: uppercase;
	text-align: left; 
	font-family:'Rosario', sans-serif; 
	font-style: bold; 
	font-size: 2em;
	font-color: #424242;
	margin-left: 90%;
}
#hero {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 100px;
	background-color: #fff;
	padding: .5em;
}
#hero1 {
	background: url("images/ce-image1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: left;
	margin-left: 2.5%;
	margin-right: 40%;
	margin-bottom: 100px;
	padding: .5em;

}
#hero1info {
	margin-left: 2.5%;
	float: right;
}
#hero2 {
	background: url("images/ce-image2.png");
	background-repeat: no-repeat;
	background-size: 40%;
	text-align: left;
	margin-left: 2.5%;
	margin-right: 40%;
	margin-bottom: 100px;
	background-color: #fff;
	padding: .5em;
	
}
#hero3 {
	background: url("images/ce-image3.png");
	background-repeat: no-repeat;
	background-size: 40%;
	text-align: left;
	margin-left: 2.5%;
	margin-right: 40%;
	margin-bottom: 100px;
	background-color: #fff;
	padding: .5em;
	
#collection {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
}
h3 {
	text-transform: uppercase;
	text-align: left; 
	font-family:'Rosario', sans-serif; 
	font-style: bold; 
	font-size: 1.5em;
	font-color: #424242;
}
p {
	color: #424242; 
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: italic; 
	font-size: 1em
}
ul {
	color: #fff; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1.25em
}
footer {
	border-top: .25em; 
	border-top-color: #221923;
	color: #fff; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1.25em;
	padding: 1em 0;

}
