

body {
	background: url("images/ce-image1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #424242;
}

header {
	background-repeat: no-repeat;
	background-size: 2em;
	height: 5em;
	width: 5em;
	display: inline-block;
	text-align: left;
	float: left;
	padding-right: 2em;
	padding-left: 10em;
	margin-bottom: 250px;
}
nav {
	display: block;
	background-color: #fff;
	padding: .25em;
	text-align: center;
}
a:hover {
	color: #dbb8e3;
	backround-color: #424242;
}
nav a {
	color: #424242; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	text-transform: uppercase; 
	font-size: 1em;
	display: inline-block;
	text-decoration: none;
}
h1 {
	color: #424242; 
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 3em;
}

h2 {
	text-transform: uppercase;
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: bold; 
	font-size: 2em;
	font-color: #424242;
	margin-left: 90%;
}
div a {
	color: #424242;
	font-family: 'Rosario', sans-serif;
	text-decoration: none;
}
div img {
	width: 19%;
	height: 15%;
	float: right;
}
#hero {
	width: 80%;
	height: 700px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 100px;
	background-color: #fff;
	display: inline-block;
	padding: .5em;
}
#hero1 {
	background: url("images/ce-image1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: left;
	margin-left: 2.5%;
	width: 70%;
	height: 70%;
	margin-bottom: 10px;
	padding: .5em;
	float: left;

}
#hero1info {
	margin-left: 2.5%;
	float: right;
}
#hero2 {
	background: url("images/ce-image2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: left;
	margin-left: 2.5%;
	margin-bottom: 200px;
	background-color: #fff;
	padding-top: 200px;
	width: 40%;
	float: left;	
}
#hero3 {
	background: url("images/ce-image3.png");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: left;
	margin-left: 2.5%;
	margin-bottom: 200px;
	background-color: #fff;
	padding-top: 200px;
	width: 40%;
	float: right;
	
div.collection {
	display: inline-block;
	width: 200px;
	height: 350px;
	margin: 10px;
	padding: 20px;
	float: right;
	background-color: #fff;
}
h3 {
	text-transform: uppercase;
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: bold; 
	font-size: 1.5em;
	font-color: #424242;
}
p {
	color: #424242; 
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: italic; 
	font-size: 1em;
	float: left;
}
ul {
	color: #fff; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1.25em
}
footer {
	border-top: .25em; 
	border-top-color: #221923;
	color: #fff; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1.25em;
	padding: 1em 0;

}
