

body {
	background: url("images/ce-image1-big-3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #424242;
}

header {
	background-repeat: no-repeat;
	background-size: 2em;
	background-color: rgba(255, 255, 255, 0.75);
	display: inline-block;
	width: 100%;
	text-align: left;
	padding-right: 0em;
	padding-left: 15%;
	margin: 0, 0, 10%, 0;
}
nav {
	display: block;
	background-color: rgba(255, 255, 255, 0.9);
	padding: .5em;
	text-align: center;
	margin-bottom: 1.5%;
}
nav a#mobilenav {
	display: none;
}
a:hover {
	color: #dbb8e3;
	background-color: #424242;
}
nav a {
	color: #424242; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	text-transform: uppercase; 
	font-size: 1em;
	display: inline-block;
	text-decoration: none;
}
h1 {
	color: #64049b; 
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 3em;

}

h2 {
	text-transform: uppercase;
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: bold; 
	font-size: 2em;
	font-color: #424242;
	margin-left: 0%;
}
div a {
	color: #424242;
	font-family: 'Rosario', sans-serif;
	text-decoration: none;
}
#hero {
	width: 70%;
	height: 40%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: .5%;
	background-color: rgba(255, 255, 255, 0.85);
	display: inline-block;
}
#hero1 {
	background: url("images/ce-image1.png");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: left;
	margin-top: .5%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 50%;
	margin-top: 2.5%;
	padding-top: 45%;

}
#hero1info {
	width: 90%;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 0.5%;
}
#hero2 {
	width: 40%;
	height: auto;
	background-repeat: no-repeat;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 0.5%;
	float: left;	
}
#hero3 {
	width: 40%;
	height: auto;
	background-repeat: no-repeat;
	text-align: left;
	margin-right: 5%;
	margin-left: 5%;
	padding-top: 0.5%;
	float: right;
}
#hero2 img{
	width: 100%;
}
#hero3 img{
	width: 100%;
}
div.gallery {
	display: inline-block;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	font-color: #424242;
	text-align: center;
	background-color: rgba(225, 255, 255, 0.75);
}
div.img {
	background-repeat: no-repeat;
	background-size: 23%;
	margin: 0.5%;
	padding: 0.5%;
	border: 0.25% #424242;
	width: 22.75%;
	height: auto;
	float: left;
	text-align: center;
}
	
div.img img {
	display: inline-block;
	width: 100%;
	height: auto;
}
div.img a:hover img {
	background-color: #dbb8e3;
}
div.desc {
	text-align: center;
	font-weight: normal;
	width: 24%;
}
div.desc a{
	text-align: center;
	font-weight: normal;
	font-family: 'Rosario', sans-serif;
	font-style: normal;
	font-size: 1em;
	color: #424242;
}
div p {
	color: #424242; 
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1em;
	display: inline-block;
}
h3{
	text-transform: uppercase;
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: bold; 
	font-size: 1.5em;
	font-color: #424242;
}
p {
	color: #424242; 
	text-align: left; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1em;
	float: left;
	display: inline-block;
}
ul {
	color: #fff; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1.25em
}
footer {
	background-color: rgba(255, 255, 255, 0.75);
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	font-color: #424242; 
	text-align: center; 
	font-family: 'Rosario', sans-serif; 
	font-style: normal; 
	font-size: 1.25em;
	display: block
}
footer p {
	text-align: center;
	float: none;
	display: block;
}

@media only screen and (max-width: 768px){

}
@media only screen and (min-width: 320px) and (max-width: 480px){
		header {
		margin: 1%;
		}
		nav a {
		display: none;
		}
		nav a#mobilenav {
		display: block;
}
a:hover {
		h1 {
			font-size: 1em;
		}
		h2 {
			font-size: .85em;
		}
		h3 {
			font-size: .65em;
			float: none;
		}
		p {
			font-size: .5em;
			float: none;
			width: 100%;
		}
		#hero {
			width: 98%;
			height: auto;
			margin: 1%;
		}
		#hero1 {
			width: 98%;
			height: auto;
			margin: 1%;
		}
		#hero2 {
			width: 98%;
			height: auto;
			float: none;
			margin: 1%;
			padding-bottom: 15%;
		}
		#hero3 {
			width: 98%;
			height: auto;
			float: none;
			margin: 1%;
			padding-bottom: 15%;
		}
		div.gallery {
			width: 98%;
			height: auto;
			margin: 1%;
		}
		div.img {
			float: none;
			width: 100%;
			height: auto;
		}
		footer{
			margin: 1%;
		}
}
