
body {
		background: url("Images/Glass-flowers.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: Playfair Display, serif;}
h1 {color: #fff; text-align: center; font-family: Source Serif Pro, serif; font-style: bold; font-size: 48pt;}
p {color: #fff; text-align: center; font-family: Source Serif Pro; font-style: italic; font-size: 24pt}
hr {color: #fff;}
ul {color: #fff; text-align: center; font-family: Source Serif Pro; font-size: 16pt}
