
body {
		background: url("Images/Glass-flowers.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: Myriad Pro;}
h1 {color: #fff; text-align: center; font-family: Myriad Pro; font-style: bold; font-size: 5 em;}
p {color: #fff; text-align: center; font-family: Myriad Pro; font-style: italic; font-size: 3 em}
hr {color: #fff;}
ul {color: #fff; text-align: center; font-family: Myriad Pro; font-size: 2 em}
